<div id="LeftBar">
	<div id="LeftBarPicture">

	</div>
	<div id="news">
		<span id="LeftBarNews">
			<%= link_to "News", "news" %>
		</span>
			<table id="NewsLeftBarEvents">
				<% @news.each do |news| %>
					<tr>
						<th style="border-style:none;" colspan="2">
							<%= link_to news.title, news_path(news.id) %>
						</th>
					</tr>
					<tr>
						<td style="width:170px;">
							<%= news.content %>
						</td>
					</tr>
				<% end %>			
			</table>
	</div>
</div>
<div id="RightBar">
	<div>
		<span id="RightBarEvents">
			<%= link_to "Upcoming Events", "events" %>
			<%= link_to "New Event", "events/new" %>
			<table id="TableRightBarEvents">
				<% @events.each do |event| %>
					<tr>
						<th style="border-style:none;" colspan="2">
							<%= link_to event.title, event_path(event.id) %>
						</th>
					</tr>
					<tr>
						<td style="width:170px;">
							<%= event.description %>
						</td>
						<td>
							<%= event.event_date.to_s() %>
						</td>
					</tr>
				<% end %>			
			</table>
		</span>
	</div>
</div>