<h1>Showing Event:</h1>
<div id="indexContents">
	<div id="indexContentTitle">
		<%= link_to @event.title, events_path(@event) %>
	</div>
	<div id="indexContentContent">
		<%= @event.description %>
		<span id="eventTime">
			<%= @event.event_date.to_s() %>
		</span>
		<% if isAdmin %>
			<%= link_to 'Edit', edit_events_path(@event) %>
		<% end %>
	</div>
</div>
<%= link_to 'View Other Events', events_path %>