<div id="NewsContent">
	<h1>Recent News</h1>
	<% @news.each do |news| %>
		<div id="NewsContents">
			<div id="NewsContentTitle">
				<%= news.title %>
			</div>
			<div id="NewsContentContent">
				<%= news.content %>
				<%= link_to 'Edit', edit_news_path(news) %>
				<%= link_to 'Destroy', news, confirm: 'Are you sure?', method: :delete %>
			</div>
		</div>
	<% end %>

	<br />

	<%= link_to 'Create', new_news_path %>

</div>