<div id="indexContent">
	<h1>Recent News</h1>
	<% @news.each do |news| %>
		<div id="indexContents">
			<div id="indexContentTitle">
				<%= link_to news.title, news_path(news) %>
			</div>
			<div id="indexContentContent">
				<%= news.content %>
				<% if isAdmin %>
					<%= link_to 'Edit', edit_news_path(news) %>
			<%= button_to 'Delete', news_path(news), :method => 'delete' %>
				<% end %>
			</div>
			<br />
		</div>
	<% end %>
	<br />
	<% if isAdmin %>
		<%= link_to 'Create', new_news_path %>
	<% end %>
</div>